# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Ll]ibrary/
sysinfo.txt
*.stackdump

# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/.idea*/

/UnityProj/Assets/.lpproj
LuaDebuggee.dll
*LuaPerfect*

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini

#my project
[Tt]emp.meta
/LuaProject/
/Assets/UnityVS.meta
/Assets/UnityVS
/UnityVS.tolua.v11.suo
/UnityVS.tolua.CSharp.csproj
/UnityVS.tolua.CSharp.Editor.csproj
/UnityVS.tolua.sln
/Assets/FR2_Cache.asset*
/Assets/StreamingAssets/Android*
/Assets/StreamingAssets/Win32*
/Assets/StreamingAssets/Windows*
/Assets/StreamingAssets/iOS*
/Assets/AssetBundles*

/AssetBundles/
/Bin/
AssetBundleServerURL*
#/ProjectSettings/ProjectVersion.txt
/*.log
/Assets/GuPingTemp*
/Assets/Thirdparty/FastShadowReceiver/Demo*
#/Assets/EasyTouchBundle*
/Assets/Thirdparty/EasyTouchBundle/Install*
/Assets/Thirdparty/EasyTouchBundle/EasyTouch/Examples*
/Assets/Thirdparty/EasyTouchBundle/EasyTouchControls/Examples*

/Tools/__pycache__/

Apks/
aolamobile.luaproj
aolamobile.config

Assets/.vscode/settings.json
Assets/.vscode/launch.json
Assets/TempScripts.meta
Assets/TempScripts/
Assets/Editor/AutoBuildScript.meta
Assets/Editor/AutoBuildScript/
.vscode/settings.json
UserInterfaceState.xcuserstate
UnityProj/Assets/StreamingAssets/IOS
IOSProj/xcodeprojects/app/Pods
IOSProj/xcodeprojects/libgame/Classes
IOSProj/xcodeprojects/libgame/Data
IOSProj/xcodeprojects/libgame/Libraries
BaitianConfig.txt.bak
Podfile.lock
contents.xcworkspacedata
IDEWorkspaceChecks.plist
IOSProj/ipaout/output
aola.code-workspace
UnityProj/Assets/Plugins/Editor/VSCode.cs.meta
UnityProj/Assets/Plugins/Editor/VSCode.cs
UnityProj/Assets/Plugins/Editor.meta
UnityProj/.vscode/launch.json
UnityProj/Assets/Scripts/LuaDebugjit.lua.meta
UnityProj/Assets/Scripts/LuaDebugjit.lua
UnityProj/Assets/Scripts/LuaDebug.lua.meta
UnityProj/Assets/Scripts/LuaDebug.lua
UnityProj/Assets/Scripts/.vscode/
UnityProj/Assets/.idea/Assets.iml
UnityProj/Assets/.idea/modules.xml
UnityProj/Assets/.idea/workspace.xml
UnityProj/Assets/Plugins/Editor/JetBrains.meta
UnityProj/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
UnityProj/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta
UnityProj/Assets/Scripts/Lua/.idea/Lua.iml
UnityProj/Assets/Scripts/Lua/.idea/misc.xml
UnityProj/Assets/Scripts/Lua/.idea/modules.xml
UnityProj/Assets/Scripts/Lua/.idea/workspace.xml
UnityProj/Assets/.idea/workspace.xml

UnityProj/Assets/Assets.iml
UnityProj/Assets/Assets.iml.meta
*.idea
*.iml
/UnityProj/Assets/Editor/UICodeCreator/CodeConfig/ViewModelCode.txt.meta
/UnityProj/Assets/Editor/UICodeCreator/CodeConfig/CodeDetail.json
/UnityProj/Assets/Editor/UICodeCreator/CodeConfig/CodeDetail.json.meta
/UnityProj/Assets/Editor/UICodeCreator/CodeConfig/ListViewCode.txt
/UnityProj/Assets/Editor/UICodeCreator/CodeConfig/ListViewCode.txt.meta
/UnityProj/Assets/Editor/UICodeCreator/CodeConfig/ViewCode.txt
/UnityProj/Assets/Editor/UICodeCreator/CodeConfig/ViewCode.txt.meta
/UnityProj/Assets/Editor/UICodeCreator/CodeConfig/ViewModelCode.txt
UnityProj/Assets/KyleLuaAssets.iml.meta
/ManualPackage/Cache
/ManualPackage/HotUpdateRes
/ManualPackage/Temp
/ManualPackage/DownloadHotupdateZip
/ManualPackage/tools/重签名修改apk里C#代码/resign
/ManualPackage/tools/重签名修改apk里C#代码/log.txt
/ManualPackage/tools/重签名修改apk里C#代码/resign.apk


UnityProj/Assets/Scripts/Lua/logic/Librarys/Adapter/Log/LogDefineLocal.lua
UnityProj/Assets/Scripts/Lua/logic/Librarys/Adapter/Log/LogDefineLocal.lua.meta
UnityProj/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
/UnityProj/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
UnityProj/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
UnityProj/Assets/Editor/Package/resVersionCache.txt
UnityProj/Assets/Editor/Package/resVersionCache.txt.meta
UnityProj/TempMVVMFiles
UnityProj/Assets/Editor/PCPlayAndroidAssetBundle.txt
UnityProj/Assets/Editor/PCPlayAndroidAssetBundle.txt.meta
UnityProj/Assets/aounity-framework/Plugins/Ignore.meta
UnityProj/Assets/aounity-framework/Plugins/Ignore/

/UnityProj/Assets/FMODStudioCache.asset
/UnityProj/AssetsAssets-Texture2D-After.txt
/UnityProj/AssetsAssets-Texture2D-Before.txt
/UnityProj/AssetsNot Saved-AssetBundle-After.txt
/UnityProj/AssetsNot Saved-AssetBundle-Before.txt
/UnityProj/AssetsNot Saved-Mesh-After.txt
/UnityProj/AssetsNot Saved-Mesh-Before.txt
/UnityProj/AssetsOther-SerializedFile-After.txt
/UnityProj/AssetsOther-SerializedFile-Before.txt
/UnityProj/AssetsOther-ShaderLab-After.txt
/UnityProj/AssetsOther-ShaderLab-Before.txt
/UnityProj/AssetsProfiler - Compare.txt
UnityProj/Assets/Scripts/Lua/logic/Commons/Config/Languages.meta
UnityProj/Assets/UGUI-Editor.meta
UnityProj/Assets/UGUI-Editor/Res.meta
UnityProj/Assets/UGUI-Editor/Res/Preview.meta
UnityProj/Assets/LuaDeepProfilerAssetSetting.asset
UnityProj/Assets/LuaDeepProfilerAssetSetting.asset.meta
UnityProj/Assets/LuaDeepProfilerSetting.asset
UnityProj/Assets/LuaDeepProfilerSetting.asset.meta
UnityProj/Assets/Scripts/Lua/logic/.vscode/launch.json
UnityProj/Assets/Scripts/Lua/logic/.vscode/settings.json
UnityProj/test.lua
UnityProj/KyleAssetBundle
UnityProj/Assets/Unuse/Integrated.meta
UnityProj/Assets/Unuse/Integrated
UnityProj/HFS/~temp.vfs
UnityProj/HFS/~temp.vfs.bak
UnityProj/Assets/Editor/ConsoleEnhancedFree/Editor/ConsoleE_TabSettings
UnityProj/Assets/Editor/ConsoleEnhancedFree/Editor/ConsoleE_TabSettings.meta
UnityProj/Assets/Thirdparty/FindReference2/FR2_Cache.asset
UnityProj/FindReferenceCache/
UnityProj/Assets/Thirdparty/FindReference2/FR2_Cache.asset.meta
UnityProj/Assets/Scripts/Lua/.vscode/tasks.json
UnityProj/Assets/Thirdparty/FindReference2/FR2_Cache.asset
UnityProj/Assets/Thirdparty/FindReference2/FR2_Cache.asset.meta
UnityProj/Assets/Editor/Package/ModifyTaskConfig.txt
UnityProj/Assets/Editor/Package/ModifyTaskConfig.txt.meta
UnityProj/Assets/Scripts/Lua/logic/Services/Test/Config.meta
UnityProj/LuaUnitTests/Kyle/wxmTestEntry.lua
UnityProj/Assets/Scripts/Lua/.vscode/launch.json
UnityProj/Assets/Scripts/Lua/.vscode/settings.json
UnityProj/LuaUnitTests/Kyle/LuaBenchMarkResult.txt
UnityProj/HFS/inject.lua
UnityProj/HFS/KyleHFSSetting.vfs
UnityProj/HFS/luaReload.txt
UnityProj/HFS/KyleHFSSetting.vfs.bak
Tools/LuaCheck/luachckResult.txt
Tools/LuaCheck/luacheckResult.txt
UnityProj/LuaDebuggee32.dll
UnityProj/LuaDebuggee64.dll
CmdRecord.txt
UnityProj/Assets/Scripts/Lua/logic/Commons/Utils/luahotupdate*
UnityProj/LuaUnitTests/Kyle/debug/tempCode.lua
